
<div class="well">

  <div class="row">
    
    <div class="col-xs-8">
       <% @currentOrder = order  %>
       <h4><%= number %>. Order id_<%=order.id %> </h4> 
       <h5>Created at <%= order.created_at.to_date  %></h5>
    </div>
    <div class="col-xs-4">
      
      <h4>Total price: <%= number_to_currency( order.totalprice, :unit => "€") %></h4>
      <h5><a href="/orderview/<%= order.id %>">View</a></small></h5></h5>
    </div>
    
  </div>
</div>