<p id="notice"><%= notice %></p>
<br><br>
<p>
  <strong>Title:</strong>
  <%= @item.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @item.description %>
</p>

<p>
  <strong>Price:</strong>
  <%= @item.price %>
</p>


<p>
  <strong>Image:</strong>
  
  <%= image_tag @item.image_url if @item.image? %>
</p>
<% if session[:login] != 1 %>
  <%= link_to 'Edit', edit_item_path(@item) %> |
  <%= link_to 'Back', items_path %> |
  <a href="/cart/<%= @item.id %>">Add to Cart</a> 
<% else %>
  <%= link_to 'Edit', edit_item_path(@item) %> |
  <%= link_to 'Back', items_path %>
<% end %>